@model IEnumerable<Vocatus.Models.CocktailModel>
@{
    ViewBag.Title = "Explore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="../Scripts/jquery-1.10.2.js"></script>

<script>
    $(function () {
        $('.explore-drinks').click(function () {
            var id = "#" + $(this).children('div').attr('id');
            var titleId = "#" + $(this).children('h4').attr('id');
            var imageId = "#" + $(this).children('img').attr('id');

            var populateid = "#displayed-ingredient-list"
            var populateTitleId = "#focused-drink-title";
            var populateImageId = "#focused-ingredient-image";

            // object clicked
            var obj = $(id);

            // for each <li> element, append this to display area
            var htmlString = "";
            $.each(obj.children('li'), function (index, value) {
                htmlString += "<li>" + value.textContent + "</li>";
            });

            $(populateid).html(htmlString);
            $(populateTitleId).text($(titleId).text());
            $(populateImageId).attr('src',($(imageId).attr('src')));
        });


        $(".radio_rating").click(function () {


            var cocktailId = $(this).attr('id').substr(8);

            var rating = $(this).val();



            $.ajax({
                url: '/UserFunctions/RateCocktail',
                data: 'cocktailId=' + cocktailId + "&rating="+rating,
                contentType: 'application/html; charset=utf-8'

            }).success(function (result) {
                if (result == "no") {
                    alert("Please log in to rate cocktails!")
                } else {
                    alert("Your rating has been " + result + ".");
                }
               

            }).error(function (xhr, status) {
                alert("Error rating");

            });



        });

    });
</script>
<body>
    <div style="width:100%;height:100%;float:left">

        <div class="explore_left_section">
            <div style="width:170px;margin-left:auto;margin-right:auto">
                <h2 id="focused-drink-title"></h2>

                <img id="focused-ingredient-image" src="../Content/default_image.png" style="width:144px;height:150px" />

                <ul id="displayed-ingredient-list" style="height:auto"></ul>
            </div>

        </div>
        <div class="explore_right_section" style="margin-left:auto;margin-right:auto">
            <h2>Explore</h2>

            <div>
                <p>Explore different drinks that others have rated! Click on a drink to see detailed information.</p>
            </div>
            <div style="width:100%;height:auto; overflow:auto;">

                @foreach (var c in Model)
                {
                    <div class="explore-drinks">
                        <img class="explore_image" id="ingredient_image_@c.cocktailId" src="@c.cocktailImagePath" style="width:144px;height:150px" />
                        <h4 id="ingredient_name_@c.cocktailId" style="text-decoration:underline">@(c.cocktailName != null ? c.cocktailName : "")</h4>

                        @{
                    var check1 = (c.rating == 1) ? "checked=\"checked\"" : "";
                    var check2 = (c.rating == 2) ? "checked=\"checked\"" : "";
                    var check3 = (c.rating == 3) ? "checked=\"checked\"" : "";
                    var check4 = (c.rating == 4) ? "checked=\"checked\"" : "";
                    var check5 = (c.rating == 5) ? "checked=\"checked\"" : "";
                        }

                        <fieldset class="rating" style="margin-left:auto;margin-right:auto">
                            <input class="radio_rating" type="radio" @check5 id="rating5_@c.cocktailId" name="rating_@c.cocktailId" value="5" /><label for="rating5_@c.cocktailId" title="Excellent">5 stars</label>
                            <input class="radio_rating" type="radio" @check4 id="rating4_@c.cocktailId" name="rating_@c.cocktailId" value="4" /><label for="rating4_@c.cocktailId" title="Good">4 stars</label>
                            <input class="radio_rating" type="radio" @check3 id="rating3_@c.cocktailId" name="rating_@c.cocktailId" value="3" /><label for="rating3_@c.cocktailId" title="Mediocre">3 stars</label>
                            <input class="radio_rating" type="radio" @check2 id="rating2_@c.cocktailId" name="rating_@c.cocktailId" value="2" /><label for="rating2_@c.cocktailId" title="Not Good">2 stars</label>
                            <input class="radio_rating" type="radio" @check1 id="rating1_@c.cocktailId" name="rating_@c.cocktailId" value="1" /><label for="rating1_@c.cocktailId" title="Bad">1 star</label>
                        </fieldset>
                        <div id="ingredient-list-@c.cocktailId">
                            @foreach (var i in c.ingredients)
                            {
                                <li class="explore-drinks-ingredients"> @i </li>
                            }
                        </div>


                    </div>
                }
            </div>


        </div>

    </div>

</body>