@model IEnumerable<Vocatus.Models.CocktailModel>
@{
    ViewBag.Title = "Explore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Explore</h2>


<div>
    <p>On this page, we will list top rated drinks that the user can add to their "wishlist" or something of the sort</p>
</div>
    <div style="width:100%;height:auto; overflow:auto;">

    @foreach (var c in Model)
    {
        <div class="explore-drinks">
            <img src="@c.cocktailImagePath" style="width:144px;height:150px" />
            <h4 style="text-decoration:underline">@(c.cocktailName != null ? c.cocktailName : "")</h4>

            @foreach (var i in c.ingredients)
            {
                <p class ="explore-drinks-ingredients">-- @i </p> <!-- -->
            }

        </div>
    }
</div>
