
@{
    ViewBag.Title = "Explore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Explore</h2>


<div>
    <p>On this page, we will list top rated drinks that the user can add to their "wishlist" or something of the sort</p>
</div>
