
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>This is the initial "Drink" page that will d isplay. We should have a brief description about the 
    "Explore" and "MyDrinks" options. We should have pictures of drinks (with MyDrinks and Explore text on the images) 
    that link to respective pages. </p>

