
@{
    ViewBag.Title = "MyDrinks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyDrinks</h2>

<p>This page allows the user to select what drinks they have and it provides them with cocktail suggestions</p>