body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#222;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48; 
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.roundedTextbox{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin:5px;
    padding:3px;
}

div.explore-drinks{
    border:solid;
    width:150px;
    float:left;
    border-width:4px;
    margin:1px;
    height:210px;
    text-align:center;
}

.explore-drinks-ingredients{
    display:none;
}

div.explore-drinks:hover{
    /*height:auto;*/
    border-color:darkred;
}
div.explore-drinks:hover .explore-drinks-ingredients{
    /*display:block;*/
}

