/* Tab Content - menucool.com */
ul.tabs
{
    padding: 8px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
    border-bottom:none;
    background:#222;
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:-1px; /*distance between tabs*/
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 8px 20px;
    
    border-right:none;
    color: #fff;
    background: #222;
    outline:none;
} 
       
ul.tabs li:last-child a
{
} 
        
ul.tabs li a:visited
{
    color: #fff;
}
        
ul.tabs li a:hover
{
    text-decoration: none;
    background-color:#888;
    color:#fff;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: #f70;
    color:White;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}

div.tabcontents
{
    border: 1px solid white;
    min-height:400px;
    overflow:auto;
    border-top: 2px solid white;
    padding: 30px;
    background-color:#222;
    border-color:#f70;
}

.darkbutton 
{
    background-color:#222;
    color:white;
}