@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vocatus</h1>
    <p class="lead">Vocatus is a web application that turns the average joe into an exotic bartender!</p>
</div>



<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Vocatus has been pre-loaded with various liquors and beverages. Simply create or sign into an account, 
            tell vocatus what you have, and let us tell you swhat great drinks you can make! Inversely, you can 
            explore top rated drinks by others and see what ingredients you would need to make them! 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Try it Out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>