@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vocatus</h1>
    <p class="lead">Vocatus is a web application that turns the average joe into an exotic bartender!</p>
</div>



<div class="row">
    <div class="col-md-8">
        <h2>At a Glance...</h2>
        <p>
            Vocatus has been pre-loaded with various liquors and beverages. Simply create or sign into an account, 
            tell vocatus what you have, and let us tell you swhat great drinks you can make! Inversely, you can 
            explore top rated drinks by others and see what ingredients you would need to make them! 
        </p>
        <p><a class="btn btn-default" href="http://www.vocatus.net/Drink/Explore">Try it Out &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <div style="width:300px">
            <h2 style="float:left;width:100%">Login</h2>
            <input class="roundedTextbox" style="float:left;width:100%;" type="text" id="username" placeholder="Username" />
            <input class="roundedTextbox" style="float:left;width:100%" type="password" id="password" placeholder="Password" />
        </div>
    </div>
</div>