@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center">Vocatus:</h1><h2 style="text-align:center">Your personal drink suggestion app!</h2>
</div>

<hr />

<div class="row">
    <div class="col-md-8">
        <h2>At a Glance...</h2>
        <p>
            Vocatus has been pre-loaded with various liquors and beverages. Simply create or sign into an account, 
            tell vocatus what you have, and let us tell you what great drinks you can make! Inversely, you can 
            explore top rated drinks by others and see what ingredients you would need to make them! 
        </p>
        <p><a class="btn btn-default" href="http://www.vocatus.net/Drink/Explore">Try it Out &raquo;</a></p>
    </div>
</div>