@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add A New Company:</h2>

<input style="width:350px;float:left" id="name" type="text" placeholder="Company Name" />
<input style="width:350px;float:left" id="phone" type="text" placeholder="Company Phone" />
<input style="width:350px;float:left" id="address" type="text" placeholder="Address 1" />
<input style="width:350px;float:left" id="address2" type="text" placeholder="Address 2" />
<input style="width:350px;float:left" id="city" type="text" placeholder="Company City" />
<input style="width:350px;float:left" id="state" type="text" placeholder="Company State" />
<input style="width:350px;float:left" id="country" type="text" placeholder="Company Country" />
<input style="width:350px;float:left" id="zip" type="text" placeholder="Company Zip" />
<input type="button" id="submitButton" value="submit" />

<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js") " ></script>
<script>
    $(document).ready(function () {
        $("#submitButton").click(function () {
            alert(
                "@Url.Action("Insert/")"+
                    "name=" + $("#name").val() + "&" +
                    "phone=" + $("#phone").val() + "&" +
                    "address1=" + $("#address").val() + "&" +
                    "address2=" + $("#address2").val() + "&" +
                    "city=" + $("#city").val() + "&" +
                    "state=" + $("#state").val() + "&" +
                    "country=" + $("#country").val() + "&" +
                    "zip=" + $("#zip").val()

                );

            $.ajax({
                type: "POST",
                url: "@Url.Action("Insert")",
                data: {
                    name: $("#name").val(),
                    phone: $("#phone").val(),
                    address1: $("#address").val(),
                    address2: $("#address2").val(),
                    city: $("#city").val(),
                    state: $("#state").val(),
                    country: $("#country").val(),
                    zip: $("#zip").val()
                },
                success: function () {
                    alert("succeeded");
                },
                complete:function(){
                    alert("completed");
                },
                failure:function(){
                    alert("failed");
                }
            });
        });
    });

</script>

